*{
    margin:0;
    padding:0;
    font-family:Comic Sans, Comic Sans MS, Arial, Helvetica, sans-serif;
}

body{
    background-color: blanchedalmond;
}
body>*{}

header, footer, main, aside{
    border-radius:2rem;
    margin:1rem;
    padding:2rem;
}

header,footer, .container{
    margin: 1rem auto;
}

img{
    width:100%;
    max-width:50rem;
    border-radius:0.5rem
}

header{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    position:sticky;
    background-color: deeppink;
    margin-right:auto;
    max-width: 95rem;
}


    #logo {
        width: 10rem;
        display: inline-block;
    }


    nav{
        display:inline-block;
    }


.container{
    display:flex;
    flex-flow: row  wrap;
    align-items:flex-start;
    max-width: 100rem;
}


nav ul li{
    display:inline-block;
    font-weight:bold;
    color: white;
    font-size:2.5rem;
    margin:1rem;
}

main{
    background-color:pink;
    color:purple;

    flex-grow: 4;      /* it can grow */
    flex-shrink: 1;    /* it can shrink */
    flex-basis: 55rem; /* arbitrary depending on design */
    min-width: 225px;  /* equal to flex-basis */
    padding: .5em;     /* half of desired margin */
}


aside{
    background-color: rosybrown;
    flex-basis:35rem;
    height:auto;

        
    flex-grow: 1;   
    flex-shrink: 4;  
    flex-basis: 20%;
    min-width: 5rem;
    padding: 2rem;
}

article{
    margin: 2rem;
}

footer{
    background-color:deeppink;
    text-align:center;
    max-width: 95rem;
}



.ads{
    color:white;
}

